
<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="coregroup">
                <span class="oi oi-plus" aria-hidden="true"></span> ETF Performance
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="equitygroups">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Equity Groups
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pietest">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pie Chart Test
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="linetest">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Line Chart Test
            </NavLink>
        </li>
    </ul>
</div>

@code 
{
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
