@page "/corechart"
@inject AppStateContainer state
@inject HttpClient httpClient
@using SectorBalanceClient
@using SectorBalanceShared
@using SectorBalanceClient.Pages.Components

<h3>Core Model Chart</h3>






@code 
{



}
