@page "/etflist"
@inject AppStateContainer state
@inject HttpClient httpClient
@using SectorBalanceClient
@using SectorBalanceShared


<table>
    <th>ETF Name</th>
    <th>Symbol</th>
    <tr>
        <td>Materials Select Sector SPDR Fund</td>
        <td>XLB</td>
    </tr>
    <tr>
        <td>Communication Services Select Sector SPDR Fund</td>
        <td>XLC</td>
    </tr>
    <tr>
        <td>Energy Select Sector SPDR Fund</td>
        <td>XLE</td>
    </tr>
    <tr>
        <td>Financial Select Sector SPDR Fund</td>
        <td>XLF</td>
    </tr>
    <tr>
        <td>Industrial Select Sector SPDR Fund</td>
        <td>XLI</td>
    </tr>
    <tr>
        <td>Technology Select Sector SPDR Fund</td>
        <td>XLK</td>
    </tr>
    <tr>
        <td>Consumer Staples Select Sector SPDR Fund</td>
        <td>XLP</td>        
    </tr>
    <tr>
        <td>The Real Estate Select Sector SPDR Fund</td>
        <td>XLRE</td>
    </tr>
    <tr>
        <td>Utilities Select Sector SPDR Fund</td>
        <td>XLU</td>
    </tr>
</table>
