@using Microsoft.AspNetCore.Components;
@inherits  SectorBalanceClient.HeadingComponentBase;


<h3 style="font-style:@HeadingFontStyle"> @HeadingText </h3>


    <HeadingComponentBase />



    @code
{



        [Parameter]
        protected string HeadingFontStyle { get; set; }

        [Parameter]
        public string HeadingText { get; set; }

    }
