@page "/"
@inject  AppStateContainer state;

<h1>Welcome to The Sector Model Guide.</h1>


@functions
{
    protected override void  OnInit()
    {
        // stuff for testing

        state.APIUrl = "http://localhost:5000";
        state.APIKey = "A8F12BB0-535A-4117-BA0B-E5722DC50367";

        state.UserName = "geoffb";
        state.UserId = Guid.Parse("85167398-7e35-11e9-92d7-0aefc68022c6");  //copied from db
    }
}