
@page "/linetest"
@inject AppStateContainer state
@inject HttpClient httpClient
@using SectorBalanceClient.Entities

<div>
     <LineChart EquityList = "@GetEquityList()" 
        Width="500" 
        Height="300" 
        Title="Our Stocks" 
        HorizontalGridLines="10"
        VerticalGridLines="10"/>
</div>

@code
{

    private string GetEquityList()
    {
        return "xlf,xle,xlk";
    }

}

