@using SectorBalanceClient
@using SectorBalanceShared
@using Microsoft.AspNetCore.Components

    <style type="text/css">
        .small {
            font: 8px sans-serif;
        }

        .normal {
            font: 12px sans-serif;
        }

    </style>
     
    <figure>
        <svg width="@Width" height="@Height" viewBox="0 0 100 100">
            <rect x = "0" y="0" width="100%" height="100%" fill="white" stroke="gray" />

            <title>Equity Chart Title</title>
            <desc>Equity Chart Description</desc>

            <!--Axis-->
            <!-- <path d="M 0 0 L 0 100 M 0 0 L 100 0"
                    fill="red" stroke="gray" stroke-width="0.3" /> -->

            <!--Horizontal Lines-->

            @DrawGridLines()

            <!-- <path d="M 25 300 L 500 300"
                    fill="none" stroke="black" stroke-width="0.3" />
            <path d="M 25 250 L 500 250"
                    fill="none" stroke="black" stroke-width="0.3" />
            <path d="M 25 200 L 500 200"
                    fill="none" stroke="black" stroke-width="0.3" />
            <path d="M 25 150 L 500 150"
                    fill="none" stroke="black" stroke-width="0.3" />
            <path d="M 25 100 L 500 100"
                    fill="none" stroke="black" stroke-width="0.3" />
            <path d="M 25 50 L 500 50"
                    fill="none" stroke="black" stroke-width="0.3" /> -->

            <!--Vertical Lines-->
            <!-- <path d="M 100 0 L 100 350"
                    fill="none" stroke="black" stroke-width="0.3" />
            <path d="M 200 0 L 200 350"
                    fill="none" stroke="black" stroke-width="0.3" />
            <path d="M 300 0 L 300 350"
                    fill="none" stroke="black" stroke-width="0.3" />
            <path d="M 400 0 L 400 350"
                    fill="none" stroke="black" stroke-width="0.3" /> -->


            <!--Labels-->

            <!-- <text class="small" x="3" y="37.5" fill="Black">Jan</text>
            <text class="small" x="13" y="37.5" fill="Black">Feb</text>
            <text class="small" x="23" y="37.5" fill="Black">Mar</text>
            <text class="small" x="33" y="37.5" fill="Black">Apr</text>
            <text class="small" x="43" y="37.5" fill="Black">May</text>

            <text class="small" x="0" y="30" fill="Black">10</text>
            <text class="small" x="0" y="25" fill="Black">20</text>
            <text class="small" x="0" y="20" fill="Black">30</text>
            <text class="small" x="0" y="15" fill="Black">40</text>
            <text class="small" x="0" y="10" fill="Black">50</text>
            <text class="small" x="0" y="5" fill="Black">60</text>

            @DrawDataElements() -->

        </svg>
    </figure>  

@code
{
    [Parameter]
    public string Width {get; set;} = "auto";

    [Parameter]
    public string Height {get; set;} = "auto";

    [Parameter]
    public int HorizontalGridLineCount {get; set;} = 10;

    [Parameter]
    public int VerticalGridLineCount {get; set;} = 10;

    RenderFragment BuildHorizontalGridLines() => builder =>
    {
        double lineGap = 0;
        double aggregateHeight = 0;

        for(int i = 0; i <= HorizontalGridLineCount; i++)
        {
            string linePath = $"M {aggregateHeight} 0 L {aggregateHeight} 100";

            builder.OpenElement(1,"path");
            builder.AddAttribute(2, "d", linePath);
            builder.AddAttribute(3, "fill", "none");
            builder.AddAttribute(4, "stroke","black");
            builder.AddAttribute(5, "stroke-width", 0.2);
            builder.CloseElement();
            lineGap = 100 / HorizontalGridLineCount;
            aggregateHeight += lineGap;            
            
        }
    };

      RenderFragment BuildVerticalGridLines() => builder =>
    {
        double lineGap = 0;
        double aggregateWidth = 0;

        for(int i = 0; i <= VerticalGridLineCount; i++)
        {
            string linePath = $"M 0 {aggregateWidth} L 100 {aggregateWidth}";

            builder.OpenElement(1,"path");
            builder.AddAttribute(2, "d", linePath);
            builder.AddAttribute(3, "fill", "none");
            builder.AddAttribute(4, "stroke","black");
            builder.AddAttribute(5, "stroke-width", 0.2);
            builder.CloseElement();
            lineGap = 100 / VerticalGridLineCount;
            aggregateWidth += lineGap; 
            
        }
    };

    private RenderFragment DrawGridLines()
    {
        RenderFragment frag = null;

        frag = BuildHorizontalGridLines();

        frag += BuildVerticalGridLines();

        return frag;
    }

    RenderFragment BuildLines(string linePath, int colorValue) => builder =>
    {
        builder.OpenElement(1,"path");
        builder.AddAttribute(2, "d", linePath);
        builder.AddAttribute(3, "fill", "none");
        builder.AddAttribute(4, "stroke",GetLineColor(colorValue));
        builder.AddAttribute(5, "stroke-width", 2);
        builder.CloseElement();
    };

    RenderFragment BuildLegendPath(string legendPath, string legendText, int colorValue, int xCoord, int yCoord) => builder =>
    {
        builder.OpenElement(1,"path");
        builder.AddAttribute(2, "d", legendPath);
        builder.AddAttribute(3, "fill", "none");
        builder.AddAttribute(4, "stroke",GetLineColor(colorValue));
        builder.AddAttribute(5, "stroke-width", 2);
        builder.CloseElement();
    };

    RenderFragment BuildLegendText(string legendText, int xCoord, int yCoord) => builder =>
    {
        builder.OpenElement(1,"text");
        builder.AddAttribute(2, "class", "small");
        builder.AddAttribute(3, "x", xCoord);
        builder.AddAttribute(4, "y", yCoord);
        builder.AddContent(5, legendText);
        builder.CloseElement();
    };

    private RenderFragment DrawDataElements()
    {
        RenderFragment frag = null;
        int colorValue = 1;
        int xCoord = 0;
        int yCoord = 0;
        string linePath = string.Empty;
        string legendPath = string.Empty;
        string legendText = string.Empty;

        foreach(string equity in EquityList.Split(",".ToCharArray()))
        {
            switch (equity)
            {
                case "xlf":
                    linePath = "M 3 25 L 13 12 L 23 15 L 33 8 L 48 20";
                    legendPath = "M 4 1 L 8 1";
                    legendText = equity;
                    xCoord = 2;
                    yCoord = 1;
                    break;
                case "xle":
                    linePath = "M 3 23 L 13 17 L 23 12 L 33 10 L 48 13";
                    legendPath = "M 4 3 L 8 3";
                    legendText = equity;
                    xCoord = 2;
                    yCoord = 3;
                    break;
                case "xlk":
                    linePath = "M 3 21 L 13 15 L 23,10 L 33 12 L 48 16";
                    legendPath = "M 4 5 L 8 5";
                    legendText = equity;
                    xCoord = 2;
                    yCoord = 5;
                    break;
            }

            frag += BuildLines(linePath, colorValue);
            frag += BuildLegendPath(legendPath, legendText,colorValue, xCoord, yCoord);
            frag += BuildLegendText(legendText, xCoord, yCoord);

            colorValue++;
        }

        return frag;
    }

    private string GetLineColor(int value)
    {
        string ret = string.Empty;

        switch (value)
        {
            case 1:
                ret = "blue";
                break;
            case 2:
                ret = "red";
                break;
            case 3:
                ret = "green";
                break;
        }

        return ret;
    }

    [Parameter]
    public string EquityList { get; set; }

}